* {
    transition: 500ms;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
    margin-bottom: 10%;
}

.eseg {
    border-radius: 10px;
}

.eseg:hover {
    border-radius: 15px;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
}

.navlogo img {
    height: 30%;
    width: 30%;
}


.navlinks {
    list-style: none;
    display: flex;
}

.navlinks li {
    margin-left: 20px;
}

.navlinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: blueviolet;
}

.paragraf-gitek {
    color: rgb(174, 174, 174);
    display: block;
  list-style-type: decimal-leading-zero;
  list-style-position: inherit;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 55px;
  font-size: 150%;
}

.paragraf-gitek li {
    margin: 3%;
}

i {
    color: white;
    background-color: rgba(66, 66, 66, 0.429);
    padding: 1%;
    border-radius: 10px;
}

i:hover {
    color: blueviolet;
    background-color: white;
    border-radius: 50px;
    text-shadow: 3px 3px 5px black;
}

.abo {
    color: white;
    background-color: rgba(66, 66, 66, 0.429);
    padding: 1%;
    margin: 1%;
    height: 1%;
}

.tumbaslik {
    padding-left: 10%;
    color: white;

}

.paragraf-ana {
    color: rgb(166, 166, 166);
    display: block;
  list-style-type: decimal-leading-zero;
  list-style-position: inherit;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 55px;
  font-size: 130%;
  margin-top: 5%;
}

.paragraf-ana li {
    margin: 2%;
}

.paragraf-ana h2 {
    color: rgb(207, 207, 207);
}

b {
    color: white;
    transition: 300ms;
    background-color: grey;
    padding: 0.5%;
    border-radius: 10px;
}

b:hover {
    background-color: blueviolet;
    border-radius: 50px;
    text-shadow: 5px 5px 8px black;
}

strong {
    color: rgb(226, 226, 226);
    text-decoration: underline;
}

strong:hover {
    color: blueviolet;
}

li {
    line-height: 150%;
}

@keyframes renkdegistir {
    0% { color: grey; }
    25% { color: grey; }
    50% { color: blueviolet; }
    55% { color: rgba(137, 43, 226, 0.373);}
    60% {color: blueviolet;}
    75% { color: grey; }
    100% { color: grey; }   
}

.renkli-yazi {
    animation: renkdegistir 2s infinite;
}

.renkli-yazi:hover {
    animation: renkdegistir 200ms infinite;
}

